%div{ id: 'esign-container', class: 'row' }
  .col-xs-6
    .row
      .col-xs-12
        %canvas#canvas{ width: 600, height: 200 }
    .row
      .col-xs-12
        %button{ class: 'canvas-button', id: 'export-canvas-button' } Export
        %button{ class: 'canvas-button', id: 'clear-canvas-button' } Clear